nav button:nth-child(3), h1, h3, p {
    color: #6CC551
}

h1 {
    font-size: 72px;
    width: 650px;
}

h2 {
    font-size: 48px;
    color: white;
    top: 50%;
    z-index: 2;
    height: 50px;
    margin: 0;
    padding: 0;
    margin-top: -25px;
}

.partners {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh auto;
}

.partner {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-bottom: 3vh;
    padding: 2vw;
    background-color: #484848;
}

.partner img {
    width: 20vw;
    grid-column-start: 1;
    grid-row: 1/3;
    margin-right: 2vw;
}

.partner h3, .partner p {
    text-align: start;
    font-size: 20px;
}

.partner h3 {
    grid-row-start: 1;

}

.partner p {
    grid-row-start: 2;
}
